:root{
    --bg-color:#F5F5DC;
    --primary-color:#F2CBBB;
    --secondary-color: #87CEEB;
    --third-color: #8DA290;
    --third-bis-color: #D3D3D3;
    --bg-input-color: #FFAEA5; 
}

* {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
}

.header{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

#logo{
    font-weight: bolder;
    font-size: 20pt;
    color: var(--third-color);
}

#logo:hover{
    animation: voltereta 1s infinite;
}

@keyframes voltereta{
    0%{ transform: rotate(0deg);}
    25%{ transform: rotate(90deg);}
    50%{ transform: rotate(180deg);}
    75%{ transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
   
}

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 5px;
}

#banner{
    background-image: url(../img/Banner1.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
}